@font-face {
  font-family: "myFont";
  src: url("/fonts/iranyekan/woff2/IRANYekanWebRegular.woff2");
}

body {
  font-family: "myFont";
  background-image: url("/image//polygon-scatter-haikei.png");
}

.ltr-dir {
  direction: ltr !important;
  text-align: left !important;
}
